<html lang='en'>
<head>
  <meta charset='utf-8'>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
  <link rel='stylesheet' href='../static/style.css'>
  <link rel='stylesheet' href='../static/fontello/css/fontello.css'>
  <script src='../static/client.js'></script>
</head>
<body>
<div>
  <div class='center'>
    <div class='title'>WHAT ARE THOOOSE?! 👟🔥🤓</div>
    <p class = "projectDesc">
      This site uses Artificial Intelligence to recognize and label different types of sneakers. More specifically, Fastai library was used to train a Convolutional Neural Network (CNN) on web-scrapped google images. The model is familiar with 15+ different models, such as Nike Air Force 1, Air Jordan 11 or Yeezy Boost 350. 
    </p>
    <div class='content'>
      <div class='no-display'>
        <input id='file-input'
               class='no-display'
               type='file'
               name='file'
               accept='image/*'
               onchange='showPicked(this)'>
      </div>
      <button class='choose-file-button' type='button' onclick='showPicker()'>Select Image</button>
      <div class='upload-label'>
        <label id='upload-label'>No file chosen</label>
      </div>
      <div>
        <img id='image-picked' class='no-display' alt='Chosen Image' height='300'>
      </div>
      <div class='analyze'>
        <button id='analyze-button' class='analyze-button' type='button' onclick='analyze()'>Analyze</button>
      </div>
      <div class='result-label'>
        <label id='result-label'></label>
      </div>
    </div>
    <div class = "bottomMeDesc">
      To see more of my work, give feedback, or simply have a chat, reach out through one of these sources: 
      <div class = "refHolder">
        <div><i class = "icon-github-circled"></i>Github: <a href = "https://github.com/jwarmuz99">jwarmuz99</a></div>
        <div><i class = "icon-linkedin-squared"></i>Website: <a href = "https://www.jakubwarmuz.me/">www.jakubwarmuz.me</a></div>
        <div><i class = "icon-globe"></i>LinkedIn: <a href = "https://www.linkedin.com/in/kubawarmuz/">kubawarmuz</a></div>
        <div><i class = "icon-mail-alt"></i>Mail: <a href = "mailto:kuba.warmuz@minerva.kgi.edu">kuba.warmuz@minerva.kgi.edu</a></div>
        </div>
    </div>
  </div>
</div>
</body>
</html>
