body {
    background-color: #2A2D2C;
}

.no-display {
    display: none;
}

.center {
    margin: auto;
    padding: 10px 50px;
    text-align: center;
    font-size: 14px;
}

.title {
    font-size: 30px;
    margin-top: 1em;
    margin-bottom: 1em;
    color: #F7F7F7;
}

.content {
    margin-top: 10em;
}

.analyze {
    margin-top: 5em;
}

.upload-label {
    padding: 10px;
    font-size: 12px;
}

.result-label {
    margin-top: 0.5em;
    padding: 10px;
    font-size: 13px;
}

button.choose-file-button {
    width: 200px;
    height: 40px;
    border-radius: 2px;
    background-color: #2A2D2C;
    border: solid 1px #67E0AD;
    font-size: 13px;
    color: #67E0AD;
}

button.analyze-button {
    width: 200px;
    height: 40px;
    border: solid 1px #67E0AD;
    border-radius: 2px;
    background-color: #2A2D2C;
    font-size: 13px;
    color: #67E0AD;
}

button:focus {
    outline: 0;
}
