body {
    background-color: #222222;
    font-family:"Montserrat";
    color: #F7F7F7;
}

.no-display {
    display: none;
}

.center {
    margin: auto;
    padding: 10px 50px;
    text-align: center;
    font-size: 14px;
}

.title {
    font-size: 80px;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
   
}
.projectDesc
{
    width:50%;
    margin:auto;
    font-size:16px;
}
.content {
    margin-top: 10em;

}

.content {
    margin-top: 5em;

}

.analyze {
    margin-top: 5em;
}

.upload-label {
    padding: 10px;
    font-size: 22px;
}

.result-label {
    margin-top: 0.5em;
    padding: 10px;
    font-size: 16px;
    color: #F7F7F7;
}

button.choose-file-button {
    width: 300px;
    height: 60px;
    border-radius: 2px;
    background-color: #222222;
    border: solid 1px #67E0AD;
    font-size: 22px;
    color: #67E0AD;
}

button.analyze-button {
    width: 300px;
    height: 60px;
    border: solid 1px #67E0AD;
    border-radius: 2px;
    background-color: #222222;
    font-size: 22px;
    color: #67E0AD;
}

button:focus {
    outline: 0;
}
.bottomMeDesc
{
    margin-top:50px;
    font-size:16px;
    width:30%;
    margin:auto;
}
.refHolder
{
    
    text-align:left;
    width:fit-content;
    margin:auto;
    margin-top:30px;
}
.refHolder a
{
    color:#67E0AD
}